/* Scrollbar */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #1e1e1e;
}
*::-webkit-scrollbar-thumb {
  background-color: #424242;
}
*::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
    border-left: 1px solid #383838;
    border-top: 1px solid #383838;
}
*::-webkit-scrollbar-thumb:hover {
    background: #4F4F4F;
}
*::-webkit-scrollbar-corner {
    background: #252526;
    border-left: 1px solid #383838;
    border-top: 1px solid #383838;
}

html, body {
    margin: 0;
    min-width: 700px;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
    position: relative;
    tab-size: 4;
}

a {
    color: #428bca;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border: 0;
    border-top: 1px solid #5b5b5b;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    height: 25px;
}

.alertOverlay {
    display: none;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.dialogBox {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    padding: 15px;
    width: 250px;
    height: 130px;
    background-color: #333333;
    border: solid;
    border-color: #5b5b5b;
    text-align: center;
}

.dialogBox h2 {
    margin-top: -3px;
}

.dialogBox.yesButton {
    position: absolute;
    left: 100px;
    width: 50px;
    height: 20px;
    background-color: #2d5a2b;
}

.dialogBox.yesButton:hover {
    cursor: pointer;
    background-color: #1e551b;
}

.dialogBox.noButton {
    position: absolute;
    right: 100px;
    width: 50px;
    height: 20px;
    background-color: #5a2b2b;
}

.dialogBox.noButton:hover {
    cursor: pointer;
    background-color: #552020;
}

.pinboard-grid {
    display: grid;
    grid-template-areas: 'pinboard-header pinboard-header' 
                         'pinboard-main pinboard-toolbox';
    grid-template-columns: 1fr 250px;
    grid-template-rows: 70px
                        1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
}

.pinboard-header {
    background-color: #252526;
    grid-area: pinboard-header;
    border-bottom: 2px solid #4F4F4F;
    padding-top: 15px;
    padding-left: 10px;
}

.pinboard-container {
    grid-area: pinboard-main;
    position: relative;
    overflow: scroll;
}

.pinboard {
    width: 5000px;
    height: 5000px;
    background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-size: 20px 20px;
    background-color: #131313;
    -pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
                0 0 / 20px #131313;
    behavior: url(/pie/PIE.htc);
}

.pinboard-toolbox {
    background-color: #333333;
    grid-area: pinboard-toolbox;
    position: relative;
    overflow-y: scroll;
    border-left: 2px solid #4F4F4F;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.toolboxTitle {
    text-align: center;
}

.toolboxObject {
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #4F4F4F;
}

.pinboardObject {
    position: absolute;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 150px;
    width: 200px;
    height: 150px;
    background-color: #333333;
    padding: 10px;
    box-shadow: 0px 8px 15px -4px rgba(0,0,0,1);
}

.resize-handle {
    position: absolute;
    width: 0px;
    height: 0px;
    margin-top: -11px;
    margin-left: -11px;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #AAA transparent;
    cursor: nw-resize !important;
}

.pinboardObject-main {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}
  
.pinboardObject-text {
    display: none;
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid #5b5b5b;
    border-radius: 1px;
    color: #c4c4c4;
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: #1e1e1e;
}

.mdPreviewTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #242424;
    border-bottom: 1px solid #5b5b5b;
}

.pinboardObject-mdPreview {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    min-width: 188px;
    min-height: 138px;
    box-sizing: border-box;
    background-color: #333333;
    border: 1px solid #5b5b5b;
}

#mdFinished {
    display: block;
    overflow: auto;
    margin: 0px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
}

.pinboardObject-markdown {
    margin: 10px;
    padding: 5px;
    min-height: 118px;
    border: 1px solid #5b5b5b;
    background-color: #1e1e1e;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 14px;
}
/*
###############################
# Markdown Object Adjustments #
###############################
*/
.pinboardObject-markdown h1, .pinboardObject-markdown h2, .pinboardObject-markdown h3, .pinboardObject-markdown h4, .pinboardObject-markdown h5, .pinboardObject-markdown h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.pinboardObject-markdown p {
    margin-top: 0px;
    margin-bottom: -12px;
}
.pinboardObject-markdown ul {
    margin-bottom: 8px;
    margin-left: 20px;
    white-space: normal;
}
.pinboardObject-markdown ol {
    margin-bottom: 8px;
    margin-left: 20px;
}
.pinboardObject-markdown ol li {
    line-height: 0px;
}
.pinboardObject-markdown p code {
    background-color: #333333;
    border-radius: 2px;
    padding-left: 3px;
}
.pinboardObject-markdown section {
    overflow-x: auto;
}

.pinboardObject-markdown blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #5b5b5b;
}
.pinboardObject-markdown table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #252525;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}
.pinboardObject-markdown table tr {
    border-bottom: 1px solid #5b5b5b;
}
.pinboardObject-markdown table td {
    color: whitesmoke;
    padding: 9px 8px 0;
}
.pinboardObject-markdown table th {
    font-size: 14px;
    font-weight: normal;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    padding: 10px 8px;
}
.pinboardObject-markdown img {
    max-width: 35%;
    vertical-align: middle;
    border: 0;
}

.pinboardObject-image {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border: 1px solid #5b5b5b;
    border-radius: 1px;
    background-image: url("../img/fallback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pinboardObject-dots {
    color: rgb(185, 185, 185);
    position: absolute;
    right: 0;
    padding-right: 2px;
}

.pinboardObject-dots:hover ~ .pinboardObject-dotMenu {
    display: block;
}
.pinboardObject-dotMenu:hover {
    display: block;
}

.pinboardObject-dotMenu {
    display: none;
    position: absolute;
    overflow: hidden;
    right: -101px;
    width: 100px;
    z-index: 999;
    background-color: #1e1e1e;
    border: 1px solid #5b5b5b;
    border-left: none;
}
/* .pinboardObject-dotMenu.loc-de {
    right: -89px !important;
}
.pinboardObject-dotMenu.loc-en {
    right: -61px !important;
} */

.pinboardObject-dotMenu ul {
    padding-left: 0px;
    margin: 5px 0px 5px 0px;
}
.pinboardObject-dotMenu li {
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 10px;
    padding-right: 10px;
}
.pinboardObject-dotMenu li:hover {
    background-color: #242424;
}

body.main-grid {
    overflow: hidden;
    margin: 0;
    display: grid;
    grid-template-areas: 'header header header' 
                         'nav toolbar editor'
                         'nav main editor';
    grid-template-columns: 50px 1fr 250px;
    grid-template-rows: 70px
                        55px 
                        1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

.container-grid {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
}

/* Header */
.container-grid.header {
    background-color: #252526;
    grid-area: header;
    padding-top: 15px;
    padding-left: 10px;
}

.logo {
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 5px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: contain;
    background-size: contain;
}

/* Navigation */

.container-grid.nav {
    background-color: #333333;
    grid-area: nav;
    padding-left: 10px;
}

.navicon {
    font-size: 28px;
    padding-left: 12px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid transparent;
    display: block;
    box-sizing: content-box;
    transition: all .4s;
    background-color: transparent;
    margin-bottom: 0;
    margin-left: -15px;
    overflow: hidden;
}

.fa-layers-counter {
    transform: scale(.35) !important;
    line-height: 1.5;
    top: -5px;
    right: -3px;
}
.naviconBottom {
    position: absolute;
    bottom: 0;
    width: 30px;
    margin-left: -10px;
    padding: 10px;
}

.navicon:hover {
    cursor: pointer;
    background-color: #252526!important;
}

/* Editor */

.container-grid.editor {
    background-color: #333333;
    grid-area: editor;
    position: relative;
    overflow-y: scroll;
}

#noSelection {
    visibility: visible;
    opacity:1;
    z-index: 5000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    background-image: url("../img/nothingtosee.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: contain;
    background-size: contain;
    transition:opacity 0.5s linear;
}

#selection {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

.editorControlGroup {
    margin-bottom: 20px;
}

#debugIdLabel {
    margin-bottom: 0px;
}

#idStorage {
    margin-top: 2px;
}

.editorInput {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 95%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #5b5b5b;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #c4c4c4;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #1e1e1e;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#editorInputDescription {
    resize: none;
    font: 13.3333px Arial;
}

#charNum {
    pointer-events: none;
    position: absolute;
    right: 11px;
    z-index: 2;
    margin-top: -38px;
    font-weight: 700;
    color: #5b5b5b;
    font-size: 12px;
}

.editorImageContainer {
    width: 200px;
    height: 150px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

#editorImagePreview {
    width: 100%;
    height: 100%;
}

#editorImageSelect > svg, #editorImageReset > svg {
    margin-bottom: 10px;
}

.container-grid.toolbar {
    grid-area: toolbar;
    background-color: #404040;
}

#addCat {
    margin-top: 11px;
    margin-left: 5px;
    display: inline-block;
}

svg, svg * {
    pointer-events: none;
}

.svg-inline--fa:hover, .fa-layers:hover, .fa-layers-counter:hover {
    cursor: pointer;
}

.toolbarIcon:hover {
    cursor: pointer;
    color: rgb(185, 185, 185);
}

.disabledToolbarIcon {
    pointer-events: none;
    opacity: 0.4;
}

.selectedToolbarIcon {
    color: lightblue;
}

.sortIcons, .viewIcons, .enableSort {
    position: relative;
    display: flex;
    float: right;
    margin-top: 19px;
}

.sortIcons {
    border-left: 2px solid whitesmoke;
    padding-left: 5px;
}

.viewIcons {
    border-left: 2px solid whitesmoke;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 50px;
}

.enableSort {
    padding-right: 30px;
    border-right: 2px solid whitesmoke;
    margin-right: -2px;
}

.sortIconsLabel {
    position: absolute;
    font-size: smaller;
    top: -33px;
    right: 0;
}

.viewIconsLabel {
    position: absolute;
    font-size: smaller;
    top: -33px;
    right: 20px;
}

.viewIconsLabel.loc-en {
    position: absolute;
    font-size: smaller;
    top: -33px;
    right: 27px;
}

.manualIconsLabel {
    position: absolute;
    font-size: smaller;
    top: -33px;
    right: 10px;
    width: 83px;
}

.manualIconsLabel.loc-en {
    position: absolute;
    font-size: smaller;
    top: -33px;
    right: 18px;
    width: 65px;
}

.container-grid.main {
    background-color: #1e1e1e;
    display: flex;
    flex-wrap: wrap;
    grid-area: main;
	align-content: flex-start;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 0px;
    max-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

#categoryContainer {
    width: 100%;
}

.cat {
	width: 95%;
	min-height: 400px;
	max-height: 600px;
	margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Add border to create the "card" effect */
    border: solid;
    border-color: rgb(153,153,153);
    border-width: 1px;
    border-radius: 1px;
}

/* On mouse-over, add a deeper border  */
.cat:hover {
    border-color: rgb(124, 124, 124);
}

.catDetails {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #252526;
    margin-top: -10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
}

#removeCat {
    float: right;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.catName {
    cursor: pointer;
}

.editCatName {
    display:none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 13px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.editInfo {
    font-size: 10px;
    margin-top: -8px;
    opacity: 0.3;
}

.cardContainer {
	display:flex;
	flex-wrap: wrap;
}

.cardContainer-list {
    display:flex !important;
    flex-wrap: wrap !important;
    padding-top: 10px !important;
}

.card {
    background-color: #252526;
    position: relative;
	height: 300px;
	width: 200px;
	margin: 20px;
    /* Add border to create the "card" effect */
    border: solid;
    border-color: rgb(153,153,153);
    border-width: 1px;
    border-radius: 1px;
}

.card-list {
    background-color: #252526 !important;
    position: relative !important;
    height: 50px !important;
    width: 90% !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    /* Add border to create the "card" effect */
    border: solid !important;
    border-color: rgb(153,153,153) !important;
    border-width: 1px !important;
    border-radius: 1px !important;
}

.card-fav {
    border-color: goldenrod !important;
}

/* On mouse-over, add a deeper border + shadow */
.card:hover, .card-list:hover {
    border-color: rgb(124, 124, 124);
	box-shadow: 0px 0px 0px 1px rgb(124,124,124);
}

.card:hover .cardOverlay, .card-list:hover .cardOverlay {
    display: initial;
}

.cardImage {
    width: 200px;
    height: 150px;
}

.cardImage-list {
    display: none !important;
}

.cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: none;
}

.cardButtonsContainer {
    height: 100%;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardButtonsContainer-list {
    height: 100% !important;
    font-size: 28px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.cardTopButtonsContainer {
    font-size: 28px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#openCard, #editCard {
    cursor: pointer;
    margin: 20px;
}

#openCard:hover, #editCard:hover {
    color: rgb(185, 185, 185);
}

#upCard, #downCard, #favCard {
    cursor: pointer;
    margin-left: 10px;
    float: left;
}

#upCard:hover, #downCard:hover, #favCard:hover {
    color: rgb(185, 185, 185);
}

.cardContainer > .card:first-child .cardOverlay .cardButtonsContainer .cardTopButtonsContainer #upCard, .cardContainer > .card:last-child .cardOverlay .cardButtonsContainer .cardTopButtonsContainer #downCard {
    display: none;
}

.cardContainer-list > .card-list:first-child .cardOverlay .cardButtonsContainer-list .cardTopButtonsContainer #upCard, .cardContainer-list > .card-list:last-child .cardOverlay .cardButtonsContainer-list .cardTopButtonsContainer #downCard {
    display: none;
}

/* Add some padding inside the card container */
.cardDetails {
    padding: 2px 16px;
}

.cardDetails-list {
    padding: 2px 16px !important;
    display: flex !important;
}

.cardName-list {
    border-right: 1px solid whitesmoke !important;
    margin-right: 5px !important;
    padding-right: 5px !important;
    width: 150px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.cardDesc {
    font-size: 13px;
}

.cardDesc-list {
    width: 600px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 13px !important;
}

/* Disable Selection in non-input areas */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

/* Twemoji Size  */
.emoji {
    height: 0.9em;
    vertical-align: inherit !important;
    transform: translateY(1px);
}
.emoji:first-child {
    padding-left: 1px;
}
.emoji:last-child {
   padding-right: 1px; 
}

/* LaTeX frac Divider Adjustment */
.stretchy {
    height: 0.3em !important;
}
/* Codeblock overwrite */
.hljs {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #252525;
    border-radius: 3px;
    border: 1px solid #353535;
}
.hljs * {
    -webkit-user-select: auto;
    user-select: auto;
    cursor: text;
}

input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus, input[type="checkbox"]:hover:active, input[type="radio"]:hover:active, input[type="checkbox"]:disabled, input[type="checkbox"]:hover:disabled, input[type="checkbox"]:hover:active:disabled {
    -webkit-appearance: none !important;
    background-color: #181818 !important;
    border: 1px solid #484848 !important;
    color: #eee !important;
    height: 1em !important;
    width: 1em !important;
}

input[type="checkbox"]:checked {
    background: url("../img/checkmark.svg") !important;
    background-size: cover !important;
}

.pinboardObject-markdown li input[type="checkbox"], input[type="checkbox"]:focus, input[type="radio"], input[type="radio"]:focus, input[type="checkbox"]:hover:active, input[type="radio"]:hover:active, input[type="checkbox"]:disabled, input[type="checkbox"]:hover:disabled, input[type="checkbox"]:hover:active:disabled {
    margin: 0 0.2em 0.25em -1.5em;
    vertical-align: middle;
}

.katex {
    font: normal 15px KaTeX_Main,Times New Roman,serif;
}